/* For the Template layout */
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}
.header {
    display: flex;
    border: none;
    justify-content: space-between;
    width: 100%;
    height: 9.46%;
    background-color: #D9D9D9;
    

}

.logo {
    width: 100px;
    height: 94px;
    padding: 5px;
}

ul > li > a{
    color: #000;
    text-decoration: none;
    position: relative;
    top: 40px;
    font-size: 12px;
    /* font-family: 'Open Sans', sans-serif; */
    padding-right: 30px;
}

.nav-links {
display: flex;
justify-content: space-between;
list-style-type: none;
padding: 10px;

}
main{
    height: 400px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    overflow:hidden;
    width: auto;    
    min-height: 100%;
    position: relative;
   
    
}

h2 {
    text-align: center;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #D9D9D9;
}


/* Beginning of sign up main */




  
    









/* End of sign up main */

/* Beginning of sign in main */

.aside-one {
    width: 200px;
    height: 200px;

}
/*

container {
    overflow:hidden;
    width:290px;
    min-height: 100%;
    position: relative;
    margin: 200px 80px 0 400px;
    background-color:lightgrey;
    
} */

/* .container > h4 {
    margin: auto 5px;
} */
/* input {
    width: 250px;
    height: 20px;
    margin: 5px;
} */

/* 
.side-bar {
    float: right;
    width:250px;
    padding: 20px;
    margin-left: 200px;
    height: auto;
    background-color:lightgray;
    position: abs;
    top: 0px;
    bottom: 30px;
} */

/* .clearfix::after {
    content: "";
    clear: both;
    display: table;
  } */















/* End of sign in main */