/* For the Template layout */
/* html {
    height: 100%;
    margin: 0;
    padding: 0;
} */

body {
    font-family: 'Open Sans', sans-serif;
    margin:0; 
    padding:0; 
    box-sizing: border-box;
}
.header {
    display: flex;
    border: none;
    justify-content: space-between;
    width: 100%;
    height: 9.46%;
    background-color: #EFEFEF;
    

}

.logo {
    width: 100px;
    height: 94px;
    padding: 5px;
}

ul > li > a{
    color: #000;
    text-decoration: none;
    position: relative;
    top: 40px;
    font-size: 12px;
    padding-right: 30px;
}

.nav-links {
display: flex;
justify-content: space-between;
list-style-type: none;
padding: 10px;

}
main{
    height: 100%;
}

.container {
    display: flex;
    justify-content: space-evenly;
    overflow:hidden;
    width: auto;    
    min-height: 100%;
    position: relative;
   
    
}

h2 {
    text-align: center;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #EFEFEF;
}


/* Beginning of sign up main */


h3 {
    text-align: center;
    font-size: 10px; 

 } 

  .form-wrapper-1{ 
     width: 300px;
     height: 320px;
     margin: 0 auto;
     position: relative;
     
 } 

.form-div-1 {
    display: block;
     width: 100%;
     height: 100%;
     position: absolute;
     background-color: #EFEFEF; 
 } 



form > input {
    display: inline-block;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 3px;
    padding-top: 10px;
    padding-right: 20px;
    margin-left: 70px;
    margin-bottom: 10px;
    font-weight: lighter;
    
}

.button {
    background-color: #000;
    color: #FFFFFF;
    font-weight: 200;
    display: inline-block;
    text-align: center !important;
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
}

.sidebar{
    position: absolute;
    top: 200px;
    right: 0px;
    width: 300px;
   

}

.block{
    width: 50%;
	display: inline-block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    -moz-box-sizing: border-box; 
}
 .advert-images {
     width:200px;
     height: 100px;
     float: right;
     margin-bottom: 10px;
     position: relative;
     /* bottom: 250px;    */
 }

  h4 {
    float: right;
    padding-left: 10px;
    bottom: 10px;  
    font-size: 11px;
   
 }  */


/* End of sign up main */

/* Beginning of sign in main */
.form-wrapper-2 {
    width: 300px;
    height: 200px;
    margin: auto;
    border-radius: 4PX;
    background-color: #EFEFEF;
    position: relative;
}


.section-1 h4 {
    text-align: center;
}
.form-info {
    font-size: 11px;
    text-align: center;
}

.form-div-2{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #EFEFEF; 
} 

.button-2 {
    background-color: #000;
    color: #FFFFFF;
    font-weight: 200;
    display: inline-block;
    text-align: center !important;
    border-radius: 3px;
    margin-top: 10px;
    margin-left: 70px;
    padding: 10px 15px;
    border: none;
}

/* End of signin main */


.card-display {

    margin-top: 50px;
    background-color: #EFEFEF;
}

/*  banner for index.php */

 





